@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@Localizer["Title"]</h1>


<h3> change-title branch'ında değişiklik yapıldı</h3>
<h1> master branch'ında değişiklik yapıldı</h1>

<h3> change-title branch'ında değişiklik yapıldı</h3>
<h1> change-title branch'ında değişiklik yapıldı</h1>