@{
    ViewData["Title"] = "Privacy Policy";
}
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> Localizer









<h1>@Localizer["Welcomee"]</h1>

<p>Use this page to detail your site's privacy policy.</p>







